.app-header{
    background-color: #222;
    height:36px;
    padding:8px 32px 8px 16px;
}
.login-button {
    float: right;
} 
.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}
.welcome-user{
    color:white;
    float:right;
}